.section {
  min-height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.section:nth-child(even) {
  background-color: #efefef;
}

.image {
  transform: translateX(100%) scale(50%, 50%);
  opacity: 0;

  transition: all 1000ms linear;
}
.imageShown {
  opacity: 1;
  transform: translateX(0%);
}
